Repository rancher/fleet, pull requests merged in 2022-12, with the labels that each got.

#671 Sprig Templating for Helm Values with Inputs from Cluster Resource
  .gitignore
  charts/fleet-crd/templates/crds.yaml
  go.mod
  go.sum
  pkg/apis/fleet.cattle.io/v1alpha1/bundle.go
  pkg/apis/fleet.cattle.io/v1alpha1/target.go
  pkg/apis/fleet.cattle.io/v1alpha1/zz_generated_deepcopy.go
  pkg/options/calculate.go
  pkg/target/target.go
  pkg/target/target_test.go
Labels: [zube]: Review, internal, area/fleet, team/fleet

#1124 Introduce parameter to debug controller but not agents
  charts/fleet/templates/deployment.yaml
  charts/fleet/values.yaml
  pkg/agent/manifest.go
Labels: kind/enhancement, area/performance

#1158 Cluster values full templating
  e2e/assets/single-cluster/helm-cluster-values.yaml
  e2e/assets/single-cluster/helm-verify.yaml
  e2e/single-cluster/helm_verify_test.go
  pkg/target/target.go
  pkg/target/target_test.go
Labels: area/templating

#1157 Don't run kustomize on repos without kustomization
  e2e/assets/single-cluster/helm-kustomize-disabled.yaml
  e2e/single-cluster/single_cluster_test.go
  pkg/helmdeployer/deployer.go
Labels: area/kustomize, kind/fix
